.main-layout{
  position: relative;
  height:100%;
  .content{
    padding: 0px;
  }
  .main-head{
    height:30px;
    background:#ddd;
    user-select: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid #ddd;
    .head-logo{
      position: absolute;
      left:10px;
     img{
        width:30px;
        margin-top:-3px;
      }
     }
     .head-content{
       position: absolute;
       left:80px;
       a{
         display: inline-block;
         line-height: 28px;
         cursor: pointer;
         padding: 0 10px;
         text-align: center;
         font-size:13px;
       }
       .actived{
         color:#1890ff;
         border-bottom: 2px solid #1890ff;
       }
     }
     .head-bar{
       position: absolute;
       right:10px;
       line-height: 30px;
       i{
         margin-left:5px;
         cursor: pointer;
         font-size:13px;
       }
     }
  }
}
